src/index.pug
doctype html
html
    head
        title JSON Example
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="css/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.min.js")
        script(src="js/bundle.js")
    body
        section#PRODUCT_PAGE
            #filters
                h2 Filters List
                div
                    each filter in filters
                        label #{filter.label}
                            input(type="radio", name="p_filter", value=filter.value)
                button#load-products Load More Products
            #products
                h2 Product List
                #x-product-list-container
        include product-template.html

dist/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>JSON Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.min.js"></script>
    <script src="js/bundle.js"></script>
  </head>
  <body>
    <section id="PRODUCT_PAGE">
      <div id="filters">
        <h2>Filters List</h2>
        <div>
          <label>$0 - $5.00
            <input type="radio" name="p_filter" value="1">
          </label>
          <label>$5 - $10.00
            <input type="radio" name="p_filter" value="2">
          </label>
          <label>$10 - $20.00
            <input type="radio" name="p_filter" value="3">
          </label>
        </div>
        <button id="load-products">Load More Products</button>
      </div>
      <div id="products">
        <h2>Product List</h2>
        <div id="x-product-list-container"></div>
      </div>
    </section><!-- Product Template -->
<script type="text/x-handlebars-template", id="x-product-template">
    {{#each products}}
        <div class="product_data">
            <div class="product_image">
                <img src="{{ thumbnail }}" />
            </div>
    
            <div class="product_details">
                <h3>{{ sku }}</h3>
                <p>{{ description }}</p>
            </div>
    
            <div class="product_prices">
                <div class="price price_was">{{ prices.price_was }}</div>
                <div class="price price_now">{{ prices.price_now }}</div>
            </div>
    
            {{#if section_icons.length}}
                <div class="product_section_icons">
                    {{#each section_icons}}
                        <img src="{{ icon }}" alt="{{ alt }}" />
                    {{/each}}
                </div>
            {{/if}}
        </div>
    {{/each}}
</script>
  </body>
</html>
